<%- partial('partial/head') %>
<%- partial('partial/header') %>

<div class="About">
    <div class="container avatar-wrap">
        <div class="Avatar" style="background-image: url('/images/about/avatar.jpg');"></div>
    </div>
    <div class="bio">
        <!-- <p>一枚业余全栈开发兼业余摄影师</p> -->
        <p>有时</p>
        <p>我的心很大很大</p>
        <p>装得下天空</p>
        <p>装得下大地</p>
        <p>装得下星辰大海</p>
        <p>有时</p>
        <p>我的心很小很小</p>
        <p>只装得下你</p>
    </div>
    <div class="content">
        <div class="container"></div>
    </div>
</div>

<%- partial('partial/footer') %>
<%- partial('partial/foot') %>