<%- partial('partial/head') %>
<%- partial('partial/header') %>

<div class="About">
    <div class="container avatar-wrap">
        <div class="Avatar" style="background-image: url('/images/about/avatar.jpg');"></div>
    </div>
    <div class="bio">
        <p>一枚业余全栈开发兼业余摄影师</p>
    </div>
    <div class="content">
        <div class="container"></div>
    </div>
</div>

<%- partial('partial/footer') %>
<%- partial('partial/foot') %>