<footer class="footer text-center">
    <div class="container">
        <section class="copyright">
            <a href="https://justclear.github.io">JUST</a>
            <span>&copy; <%= theme.startyear %></span>
        </section>
    </div>
</footer>
