.Header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.Nav {
    position: relative;
    height: $nav-height;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .Logo {
        float: left;
        width: $logo-size;
        height: $logo-size;
        background: #fafcfb;
        border-radius: calc($logo-size / 2);
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .menu {
        margin: 0;
        padding: 0;
        list-style: none;
        float: right;
        height: $nav-height;
        line-height: $nav-height;

        li {
            display: inline-block;
            margin-left: 20px;
        }

        a {
            font-weight: bold;
        }
    }
}

.Pagination {
    margin-top: 20px;
    padding: 10px 0;

    .page-prev,
    .page-next {
        display: block;
        width: 100px;
        height: 40px;
        line-height: 40px;
        border-radius: 10px;
        font-size: 24px;
        text-align: center;
        box-shadow: 0 0 2px #aaa;
    }

    .page-prev {
        float: left;
    }

    .page-next {
        float: right;
    }
}

.Footer {
    padding: 100px 0;

    .copyright {
        color: #333;
        font-weight: bold;
        letter-spacing: 6px;
    }
}

.Avatar {
    $size: 200px;
    width: $size;
    height: $size;
    border-radius: calc($size / 2);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform .3s;
    margin: 30px 0;
    
    &:hover {
        box-shadow: 0px 0px 30px rgba(230, 230, 230, 1);
        transition: transform .3s;
        transform: scale(1.05);
    }
}

.About {
    .bio {
        text-align: center;
    }

    .avatar-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}