.follow {
    margin-top: 20px;
    .description {
        text-align: center;
        color: #333;
        span {
            font-weight: bold;
        }
    }
}

a[title="站长统计"] {
    display: none;
}